__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.ipynb
*.env
*.cache
demo/__pycache__/
demo/.venv/
frontend/
notebooks/
.venv/
.next/
node_modules/
.git/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
*.ipynb
demo/frontend/node_modules/
demo/frontend/.next/
demo/frontend/out/
