# Application environment
# Options: development | staging | production
ENVIRONMENT=development

# Domain where the app is hosted (used for building URLs)
APP_DOMAIN=http://127.0.0.1:8000

# ASU SSO Configuration
# Base URL for CAS login (do not include redirect parameter here)
ASU_SSO_BASE_URL=https://weblogin.asu.edu/cas/login?service=https://auth-main-poc.aiml.asu.edu/app/?aid=g1WGR674bvIeL7bVgfXIAU%26eid=583b207b6a94d5c1776f5b8b5990d102%26redirect=

# API Endpoint
# Endpoint for the backend API service
API_URL="wss://apiws-main-poc.aiml.asu.edu/"
