# requirements.txt
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.2
fastapi
uvicorn
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
pandas
numpy
tiktoken
python-dotenv
python-Levenshtein
sentence-transformers>=2.6.1
pyyaml
python-jose[cryptography]
httpx
python-multipart
websockets==10.4
websocket-client
gunicorn>=21.2.0